<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/coaching_controller/ask.html.erb</p> -->

<form action="/answer">
  <label for="question">Ask your coach anything</label>
  <input type="text" id="question" name="question" placeholder="">
  <input type="submit" value="Ask">
</form>
